doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
        p header goes here
    block content
    footer 
    div
        p footer goes here
